
h1{
	text-align: center;
}

#surface {
	margin: auto;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 1.5em;
}

#surface td:visited{
	background-color: black;
	color: black;
}

#btnCreate{
	margin: auto;
	margin-bottom: 20px;
	display: block;
}
