h1{
	text-align: center;
}
div{
	text-align: center;
}
div+select{
	display: flex;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.collapse {
	border-collapse: collapse;
	font-family: monospace;
}

body {
	height: 2000px;
}

#surface {
	position: relative;
	left: 375px;	
}

#surface td{
	
	position: relative;
	transition: left 100ms, top 100ms, transform 2s;
	
}
